<html>
<head>
    <title>Your News for Today</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <header class="intro-header" style="background-image: url('/img/home-bg.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="site-heading">
              <h1>Good morning</h1>
              <span class="subheading">
                <form method="post" action="/news">
                    <div class="radio-group">
                        <input type="radio" id="title" value="title" name="type" checked>
                          <label for="title">Title</label>
                        <input type="radio" id="content" value="content" name="type">
                          <label for="content">Content</label>
                        <input type="radio" id="category" value="category" name="type">
                          <label for="category">Category</label>
                    </div>
                    <br>
                    <input class="search_input" type="text" placeholder="Search" name="keyword">
                </form>
              </span>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        #foreach($n in $news)
          <div class="post-preview">
            <a href="$n.link">
              <h2 class="post-title">$n.title</h2>
              <h3 class="post-subtitle">$n.description</h3>
            </a>
            <p class="post-meta">Posted: <a href="$n.sourceLink">$n.source</a> at $n.publishedDate
            </p>
          </div>
          <hr>
        #end
        </div>
      </div>
    </div>
</body>
</html>
